<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navigation Page</title>
  
  <!-- Load Public Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/style.css">
  <style>
    body {
      font-family: 'Public Sans', sans-serif;
      text-align: center;
      margin-top: 3rem;
    }
    .welcome-box {
      margin: 2rem auto;
      padding: 2rem;
      max-width: 500px;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      color: #007BFF;
      border: 2px solid #007BFF;
      border-radius: 8px;
      background-color: #f0f8ff;
      box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    }
    .button-container {
      margin-top: 2rem;
    }
    .nav-button {
      background-color: #007BFF;
      color: white;
      border: none;
      padding: 1rem 2rem;
      margin: 0.5rem;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .nav-button:hover {
      background-color: #0056b3;
    }
    --#{$prefix}accordion-color: #{$accordion-color};
--#{$prefix}accordion-bg: #{$accordion-bg};
--#{$prefix}accordion-transition: #{$accordion-transition};
--#{$prefix}accordion-border-color: #{$accordion-border-color};
--#{$prefix}accordion-border-width: #{$accordion-border-width};
--#{$prefix}accordion-border-radius: #{$accordion-border-radius};
--#{$prefix}accordion-inner-border-radius: #{$accordion-inner-border-radius};
--#{$prefix}accordion-btn-padding-x: #{$accordion-button-padding-x};
--#{$prefix}accordion-btn-padding-y: #{$accordion-button-padding-y};
--#{$prefix}accordion-btn-color: #{$accordion-button-color};
--#{$prefix}accordion-btn-bg: #{$accordion-button-bg};
--#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
--#{$prefix}accordion-btn-icon-width: #{$accordion-icon-width};
--#{$prefix}accordion-btn-icon-transform: #{$accordion-icon-transform};
--#{$prefix}accordion-btn-icon-transition: #{$accordion-icon-transition};
--#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
--#{$prefix}accordion-btn-focus-box-shadow: #{$accordion-button-focus-box-shadow};
--#{$prefix}accordion-body-padding-x: #{$accordion-body-padding-x};
--#{$prefix}accordion-body-padding-y: #{$accordion-body-padding-y};
--#{$prefix}accordion-active-color: #{$accordion-button-active-color};
--#{$prefix}accordion-active-bg: #{$accordion-button-active-bg};

  </style>
</head>
<body>

  <div class="welcome-box">
    Welcome to our site!
  </div>

  <div class="button-container">
    <button class="nav-button" onclick="location.href='/info'">Go to Info</button>
    <button class="nav-button" onclick="location.href='/map'">Go to Map</button>
  </div>

</body>
</html>
